    /* 
    darkblue :  #1b3c59
    ligthblue : #456173
    aquablue : #11bfae
    white : #f2f2f0
    */

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Outfit';
}
body{
    background-color: #1b3c59;
}
.navbar{
    width: 100vw;
    height: 3rem;
    background-color: #456173;
    display: flex;
    color: #f2f2f0 ;
    font-family: 'Outfit';
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbarbtn{
    display: none;
}
.navbarbtn a :is-active{
    text-decoration: none;
    
}
.saagii > span{
    color: #1b3c59 ;
}
.hamburgermenubtn{
    position: relative;
    display: block;
    width : 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburgermenubtn.is-active:before{
    transform: rotate(-45deg) translate(-21px , -9px);

}
.hamburgermenubtn.is-active:after{
    transform: rotate(45deg) translate(-24px , 6px);

}
.hamburgermenubtn.is-active .bar{
    opacity: 0;
}
.hamburgermenubtn .bar , .hamburgermenubtn:after , .hamburgermenubtn:before{
    content: '';
    display: block;
    position: relative;
    border-radius: 6px;
    width: 100%;
    height: 5px;
    background-color: #f2f2f0;
    margin: 6px 0px;
    transition: 0.4s;
}
#home{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color:  #1b3c59;

}
.home__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #f2f2f0;
    font-family: 'Outfit';
}
.home__container__word h1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.home__container__word p{
    width: 80%;
    margin-left: 10%;

}
.home__container__word h2{
    width: 100%;
    height: 60%;
    font-weight: 10;
    color: #11bfae;
    display: flex;
    justify-content: center;
}
.home__container__photo{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;

}
.home__photo{
   width: 200px;
   height: 200px;
   background-color: #456173; 
   border-radius: 6rem 2rem;
}
.home__container__button{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__container__button__btn{
    width: 100px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #11bfae;
    color: #f2f2f0;
    border-radius: 20px;
    margin-left: 15px;
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.25s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.home__container__button__btn:hover{
    width: 100px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid #11bfae;
    color: #f2f2f0;
    border-radius: 20px;
    margin-left: 15px;
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.25s ease-in;
}

#aboutme{
    margin-top: 30px;
    width: 100%;
    height: 170vh;
    background-color: #1b3c59;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutme__container{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.aboutme__who_is_me{
    width: 100%;
}
.header{
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f0;
}
.aboutme__who_is_me p {
    margin-top: 3vh ;
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f2f2f0;
    font-size: 1.2rem;
}
.aboutme__skills{
    margin-top: 2rem;
    width: 90%;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: #f2f2f0;
}
.aboutme__skills > h1 {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    color: #11bfae;
}
.aboutme__skills__lits{
    margin-top: 2rem;
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.aboutme__skills__items{
    font-size: 1.5rem;
    font-weight: 100;

}
.aboutme__hobby{
    margin-top: 2rem;

}
.aboutme__hobby > h1{
    color: #11bfae;
    width: 100%;
    height: 18vh;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}
.aboutme__hobby__lists{
    color: #f2f2f0;
    margin-top: 2rem;
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.aboutme__hobby__items{
    font-size: 1.5rem;
    font-weight: 100;
}
/* #service{
    width: 85vw;
    height: 150vh;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service__smallcards__container{
    width: 110%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.service__smallcard__imgI{
    width: 100%;
    height:30%;
    background-image: url(https://github.com/bedimcode/responsive-portfolio-website-patrick/blob/main/assets/img/project-img-1.jpg?raw=true);
    border-radius: 25px;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.1s;}
.service__smallcard{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(165, 222, 241 , .8));
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
    transition: .4s;

}
.service__smallcard:hover{
    width: 102%;
    height: 102%;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(165, 222, 241 , .4));
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
    transition: .4s;

}

.service__smallcard__imgI :hover{
    transform: scale(1.02);
    background-image: url(https://github.com/bedimcode/responsive-portfolio-website-patrick/blob/main/assets/img/project-img-1.jpg?raw=true);
    border-radius: 25px;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.4s;}

.service__smallcard > p{
    margin-left: 1rem;
    color: #f2f2f0;
    margin-bottom: 1rem;
}
.service__smallcard > p :hover{
    margin-left: 1rem;
    color: #f2f2f0;
    margin-bottom: 1rem;
} */
#contactme{
    margin-top: 20vh;
    width: 100%;
    height: 60vh;
    display: flex;
}
.contactme__container{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.contactme__fillin{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
input[type=text]{
    width: 90%;
    height: 8%;
    border-radius: 2rem;
    background-color: #456173;
    text-align: start;
    border: none;
    padding-left: 1rem;
    transition: .25s linear;

}
 ::placeholder{
   
    font-size: 1rem;

}
input[type=text]:focus{
    background-color: #f2f2f0;
    border: 1px solid #11bfae;
    color: #456173;
}
.contactme__textarea{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#contactme__textarea:focus{
    width: 90%;
    height: 70%;
    resize: none;
    color: #1b3c59;
    border-radius: 1rem;
    padding-top: .5rem;
    padding-left: .5rem;
    transition: .25s linear;
    background-color: #f2f2f0;

}
#contactme__textarea{
    width: 60%;
    height: 40%;
    resize: none;
    color: #456173;
    border-radius: 1rem;
    padding-top: .5rem;
    padding-left: .5rem;
    transition: .4s;
    background-color: #456173;
   

}
.contactme__submit__button{
        width: 60%;
        min-width: 100px;
        height: 45px;
        padding: 8px;
        border-radius: 2rem;
        border: none;
        box-shadow: 0px 0px 20px -20px;
        cursor: pointer;
        color: #EBF7FD;
        background-color: #11bfae;
        transition: all 0.2s ease-in-out 0ms;
        user-select: none;
        font-family: 'Outfit';
      }
      
.contactme__submit__button:hover {
        background-color: #456173;
        box-shadow: 0px 0px 20px -18px;
      }
.contactme__submit__button:active {
        transform: scale(0.95);
      }
footer{
    padding-top: 2vh;
    margin-top: 25vh;
    width: 100vw;
    height: 50vh;
    background-color: #456173;

}
.footer__container{
    width: 100%;
     height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 50;
    color: #f2f2f0;

}
.footer__links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.fa-facebook:hover,.fa-instagram:hover, .fa-twitch:hover {
    color: #11bfae;
    font-size: 3rem;
    transition: .25s linear;

}
.fa-facebook,.fa-instagram,.fa-twitter, .fa-twitch {
    color: #EBF7FD;
    font-size: 3rem;
    transition: .25s linear;

}

.footer__container > p{
    width: 100%;
    color: #1b3c59;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.SG{
    color: #11bfae;
}
.footer__logo{
    margin-left: 2rem;
}
.footer__end{
    margin-left: 2rem;
}

.sidebar {
    display: block;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 500vh;
    background: #1b3c598d;
    transition: all .5s ease;
  }
  

  .sidebar__items{
    height: 10%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    transition: .4s;
  }
  .sidebar__items:hover {
    padding-left: 50px;
  }
  
  #check{
    display:none;
  }
  label #btn,label #cancel{
    display: block;
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn{
    display: block;
    top: 10px;
    font-size: 1.6rem;
    color: white;
    transition: all .5s;
  }
  label #cancel{
    display: block;
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #f2f2f0;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 195px;
  }
  #check:checked ~ .lol{
    margin-left: 100px;
  }
  .lol{
    background: url(bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
  }
  .sidebar > a{
    width: 100%;
    height: 15%;
    color:#f2f2f0;
            


  }